@model Panaceya.Models.Medicines

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить это лекарство?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="paragraph">
            Навзание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="paragraph">
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="paragraph">
            Цена
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="paragraph">
            Количество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt class="paragraph">
            Наличие
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presence)
        </dd>

        <dt class="paragraph">
            Категория
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
