@model Panaceya.Models.Pharmacies

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить аптеку?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
           Адрес
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
           Время работы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_Work)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
